<h1><%=translate('muck.auth.services') %></h1>
<% if @current_authentications %>
  <%= render 'authentications/current_services', :authentications => @current_authentications, :include_icons => true %>
  <p><%=translate('muck.auth.add_another_service') %></p>
<% else %>
  <p><%=translate('muck.auth.sign_in_via_service') %></p>
<% end %>
<%= render 'authentications/available_services', :authentications => @unused_authentications, :include_icons => true %>